{% extends 'base.html' %}

{% block title %}Your account - public-exchange.com{% endblock %}

{% block content %}
  <h2>Your account</h2>
  {% if not user.is_authenticated %}
  <h3>Reset password</h3>
  <p>You are not currently logged in.
  <a href="{% url 'account_recover' %}">Click here if you want to recover your account.</a></p>
  {% endif %}
  {% if user.is_authenticated %}
  <h3>
    Emails
  </h3>
  <hr>
  <h3>
    API tokens
  </h3>
  <hr>
  <h3>
    Contracts
  </h3>
    <p>
      <a href="{% url 'contract_create' %}">Create</a>
    </p>
    <table>
    <tr><th>Description</th><th>Legal form</th><th>Expiry date</th></tr>
    {% for c in Contracts %}
    <tr>
      <td>{{c.descriptive_name}}</td><td>{{c.legal}}</td><td>{{c.expiry_date}}</td>
    </tr>
    {% endfor %}
    </table>
  <hr>
  <h3>
    Portfolio
  </h3>
  <p>
    <a href="{% url 'account_deposit' %}">Deposit</a>
    <a href="{% url 'account_withdraw' %}">Withdraw</a>
    <br>
    <table>
    <tr><th>Ticker</th><th>Issuer</th><th>Amount</th></tr>
    {% for o in Ownerships %}
    <tr>
      <td>{{o.contract.descriptive_name}}</td><td>{{o.created_by}}</td><td>{{o.amount}}</td>
    </tr>
    {% endfor %}
    </table>
  </p>
  <hr>
  <h3>
    Exposure
  </h3>
  {% endif %}
{% endblock %}